.map-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  top: 0;
  bottom: 0;
  width: 100%;
}

.marker {
  background-image: url("../images/mapbox-images/mapbox-icon.png");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

#scan-btn {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  text-align: center;
}

.capsule-btn {
  align-items: center;
  background-color: #0a66c2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.capsule-btn:hover,
.capsule-btn:focus {
  background-color: #16437e;
  color: #ffffff;
}

.capsule-btn:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.capsule-btn:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* Add a border and shadow to the rounded rectangle */
.mapboxgl-popup-content {
  border: 1px solid #929292;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.1);
}

/* Move the content above the :before element so rotated rectangle doesn't cover content */
.mapboxgl-popup-content div {
  position: relative;
  z-index: 5;
}

/* This is the new tip */
.mapboxgl-popup-content:before {
  content: "";
  position: absolute;
  /* I've found 9px looks better than 10px */
  top: -webkit-calc(100% - 9px);
  top: calc(100% - 9px);
  left: calc(50% - 10px);
  height: 20px;
  width: 20px;
  background: white;
  transform: rotate(45deg);
  border-bottom: inherit;
  border-right: inherit;
  /* The shadow is translated down a bit so it doesn't show inside the pop-up */
  box-shadow: 4px 4px 4px -1px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.mapboxgl-popup {
  margin-top: -10px;
}

/* Hide the old tip */
.mapboxgl-popup-tip {
  display: none;
}

.mapboxgl-control-container {
  display: none;
}

.form-check,
.form-switch {
  font-size: 1.5rem;
}

#custom-switch {
  margin: 0;
  position: absolute;
  top: 88%;
  left: 50%;
  z-index: 10;
  text-align: center;
  display: inline-block;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.form-check-label {
  padding-left: 10px;
  color: black;
}
