#olaf-left {
  position: absolute;
  margin-top: 7rem;
  z-index: 5;
  pointer-events: none;
}

#history-image {
  max-height: 340px;

  /*todo fjerne shadow på alle bilder og heller gjøre det via css*/
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#olaf-infront {
  pointer-events: none;
}

#finish-paragraph {
  padding: 0.7rem;
  border-radius: 20px;
  color: var(--textColorGray);
  background-color: #fff;
}

.left-point {
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 2vh solid transparent;
  border-right: 2vh solid transparent;
  border-top: 5vh solid #fff;
  position: fixed;
  top: 23%;
  left: 40%;
  transform: rotate(60deg);
}

.swiper-horizontal > .swiper-scrollbar {
  height: 1rem;
  position: fixed;
  margin: 2rem;
  bottom: 5%;
  width: 80%;
}

.swiper-slide {
  height: 100vh;
  width: 100%;
}

#year {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  bottom: 28%;
}

#year p {
  font-family: "Source Sans Pro Semibold", sans-serif;
  background: transparent;
  font-size: 2rem;
}

#year,
#finish-paragraph {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 1.125rem;
}

#story-section {
  min-height: 12rem;
  color: var(--textColorGray);
}

#story-paragraph {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 1.05rem;
}

#history-points {
  font-family: "Source Sans Pro Bold", sans-serif;
  font-size: 1.7rem;
}

@media (min-width: 1024px) {
  .left-point {
    z-index: -1;
    width: 0;
    height: 0;
    border-left: 2vh solid transparent;
    border-right: 2vh solid transparent;
    border-top: 5vh solid #fff;
    position: absolute;
    top: 20%;
    left: 15%;
    transform: rotate(60deg);
  }
}
