.question {
  color: white;
  background-color: var(--backgroundColorGreeny);
  font-family: 'Bubblegum Sans',cursive;
  border: solid;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  border-radius: 10px;
}

.quiz {
  background-image: url("../../../images/backgrounds/background-quiz.png");
  background-size: cover;
  height: 100vh;
}

.capsule-title {
  font-weight: bold;
  text-align: center;
}

.category {
  font-weight: bold;
  font-size: 2.5rem;
  padding-top: 00.5rem;
  text-align: center;
  padding-bottom: 8rem;
  color: var(--backgroundColorGreeny);
}

.button-container {
  display: grid;
  justify-content: center;
}

.quiz {
  text-align: center;
}
.completed {
  font-weight: bold;
}

.result {
  font-weight: bold;
}

.points {
  text-align: center;
}
